<div class="mb-3">
  <strong><%= link_to product.name, product %></strong><br>

 <% if product.image.attached? %>
    <%= image_tag product.image,
    alt: product.name,
    style: "max-width: 150px; height: auto; display: block; margin-bottom: 0.5rem;" %>
  <% end %>

  <% if product.author.present? %>
    <span>by <%= product.author %></span><br>
  <% end %>

  <% if product.category %>
    <span><%= product.category.name %></span><br>
  <% end %>

  <span>
    Price:
    <%= number_to_currency(product.price_cents / 100.0) %>
  </span>
</div>
<hr>
