<h1>Books</h1>

<%= form_with url: products_path, method: :get, local: true do %>
  <label>
    Search:
    <input
      type="text"
      name="search"
      value="<%= @search %>"
      placeholder="Title or description">
  </label>

  <label>
    Category:
    <select name="category_id">
      <option value="">All</option>
      <% @categories.each do |c| %>
        <option value="<%= c.id %>" <%= "selected" if c.id.to_s == @category_id.to_s %>>
          <%= c.name %>
        </option>
      <% end %>
    </select>
  </label>
<br>
<br>
  <button type="submit">Search</button>
  <br>
<br>
<br>
<% end %>

<% @products.each do |product| %>
  <%= render "product", product: product %>
<% end %>

<nav class="pagination">
  <%= paginate @products %>
</nav>
